# Opinion Mining Tools Benchmarking

In this notebook we display the results of our benchmarking of several opinion mining tools

## English

In [14]:
import pandas as pd
import glob

results_files = glob.glob("results/en-sentiment-*.csv")


dfs = []

for file in results_files:
    dfs.append(pd.read_csv(file))

df = pd.concat(dfs, ignore_index=True)

# Drop Macro Precision and Recall
df = df.drop(columns=['Macro Precision', 'Macro Recall'])

In [18]:
df

            Model               Dataset  Macro F1
0   pysentimiento             sent_eval  0.883274
1   pysentimiento          sentiment140  0.858268
2   pysentimiento                  mteb  0.756537
3   pysentimiento                amazon  0.631546
4   pysentimiento                  sst2  0.879472
5   pysentimiento  financial_phrasebank  0.682352
6        tweetnlp             sent_eval  0.813309
7        tweetnlp          sentiment140  0.867369
8        tweetnlp                  mteb  0.755487
9        tweetnlp                amazon  0.607188
10       tweetnlp                  sst2  0.796922
11       tweetnlp  financial_phrasebank  0.588266
12          vader             sent_eval  0.729698
13          vader          sentiment140  0.260184
14          vader                  mteb  0.203325
15          vader                amazon  0.189745
16          vader                  sst2  0.667704
17          vader  financial_phrasebank  0.251322
18       textblob             sent_eval  0.678205
19       textblob          sentiment140  0.633127
20       textblob                  mteb  0.474456
21       textblob                amazon  0.450305
22       textblob                  sst2  0.658604
23       textblob  financial_phrasebank  0.448512
24         stanza             sent_eval  0.773902
25         stanza          sentiment140  0.684741
26         stanza                  mteb  0.519117
27         stanza                amazon  0.528619
28         stanza                  sst2  0.849714
29         stanza  financial_phrasebank  0.441454

In [21]:


results = df.pivot(index="Dataset", columns="Model", values="Macro F1")

(results * 100).round(1)[["pysentimiento", "tweetnlp", "stanza", "textblob", "vader"]]

Model                 pysentimiento  tweetnlp  stanza  textblob  vader
Dataset
amazon                         63.2      60.7    52.9      45.0   19.0
financial_phrasebank           68.2      58.8    44.1      44.9   25.1
mteb                           75.7      75.5    51.9      47.4   20.3
sent_eval                      88.3      81.3    77.4      67.8   73.0
sentiment140                   85.8      86.7    68.5      63.3   26.0
sst2                           87.9      79.7    85.0      65.9   66.8